*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
.containerkn {
    padding: 20px;
    background:linear-gradient(rgb(226, 206, 206), rgb(165, 77, 42))
  }
.headerkn {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(13, 38, 60);
  }
.headerkn .hed {
    font-size: 32px;
    margin-bottom: 10px;
  }
.headerkn h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
.headerkn p {
    font-size: 18px;
    line-height: 1.5;
  }
.knowledgebase {
    display: grid;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 40vh;
  }
.knowledgebase > div {
    flex-basis: calc(50% - 10px);
    padding: 10px;
    background-color: #f6bf27;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .knowledgebase h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
