*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
.containerkn {
    padding: 20px;
    background:linear-gradient(rgb(226, 206, 206), rgb(165, 77, 42))
  }
.headerkn {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(13, 38, 60);
  }
