*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
.containerkn {
    padding: 20px;
    background:linear-gradient(rgb(226, 206, 206), rgb(165, 77, 42))
  }
.headerkn {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(13, 38, 60);
  }
.headerkn .hed {
    font-size: 32px;
    margin-bottom: 10px;
  }
.headerkn h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
.headerkn p {
    font-size: 18px;
    line-height: 1.5;
  }
.knowledgebase {
    display: grid;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 40vh;
  }
.knowledgebase > div {
    flex-basis: calc(50% - 10px);
    padding: 10px;
    background-color: #f6bf27;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .knowledgebase h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
.footkn {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 20vh;
  }
  
  .footkn p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .laini {
    border: none;
    border-top: 2px solid #333;
    margin: 10px 0;
  }
  .slide-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .slide-content.active {
    max-height: 500px;
    transition: max-height 0.3s ease;
  }
  .introductionkn,
  .marketingkn,
  .troubleshooting {
    cursor: pointer;
  }
  .introductionkn:hover,
  .marketingkn:hover,
  .troubleshooting:hover {
    background:linear-gradient(white, rgb(224, 124, 25))
  }
